{% extends 'base.html' %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

  {% include 'includes/alerts.html' %}

  <div class="container">
    <div class="row">

      {% include 'includes/dashboard_sidebar.html' %}

      <div class="col-md-9">
        <article class="card">

          <header class="card-header">
            <strong>Change Your Password</strong>
          </header>

          <div class="card-body">



            <form action="{% url 'change_password' %}" method="post">
              {% csrf_token %}

              <div class="form-group">
                <label>Current Password</label>
                <input type="password"
                       name="current_password"
                       class="form-control"
                       placeholder="Current Password"
                       required>
              </div>

              <div class="form-group">
                <label>Create New Password</label>
                <input type="password"
                       name="new_password"
                       class="form-control"
                       placeholder="Create New Password"
                       required>
              </div>

              <div class="form-group">
                <label>Confirm New Password</label>
                <input type="password"
                       name="confirm_password"
                       class="form-control"
                       placeholder="Confirm New Password"
                       required>
              </div>

              <button type="submit" class="btn btn-primary">
                submit
              </button>

            </form>

          </div>
        </article>
      </div>

    </div>
  </div>

</section>
<!-- ========================= SECTION CONTENT END ========================= -->

{% endblock %}
